body{
    font-family: 'Ubuntu Mono', monospace;
    background-color: #2e3440;
    color: #e5e9f0;
    text-align: center;
}
#game{
    display: none;
}
#countdown{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4%;
}
#pytankoId{
    position: fixed;
    bottom: 25px;
}